$backgroundcolor:#0B0B0B;
$textcolor:#FFFFFF;
$activecolor:#6D43FF;
$buttoncolor:#F81A2C;

$headerBackgroundcolor: #0B0B0B;
$headernavbuttoncolor: #858585;
$headernavactivebuttoncolor: #C5C5C5;

$bannertitlecolor:#FFFFFF;
$bannergenrecolor:#FFFFFF;
$bannerlearnbuttoncolor:#F81A2C;
$bannerbuttontextcolor:#FFFFFF;
$banneraddbuttoncolor:#C5C5C5;

$blockbordercolor:#F81A2C;

$footertitlecolor:#C5C5C5;
$footersubtitlecolor:#F81A2C;
$footertextcolor:#858585;
$hoverbuttoncolor:#6745DB;